{% extends "base.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div id="name-bar" class="chat-bar">
        <a href="/profile/{{other.id}}" style="font-size: 20px; color: #e4e4e4; font-weight: bold;">{{other.username}}</a>
        <p style="font-size: 15px; color: #e4e4e4;">Last online: {{other.last_online.strftime('%d/%m/%Y %H:%M')}}</p>
    </div>

    <div class="chat-content" id="chat">
        {% for msg in messages %}
        {% if msg.sender_id == other.id %}
        <div class="card card-body message-other">
            <a href="/profile/{{other.id}}" class="message-username">{{other.username}}</a>
            <p class="message-text">{{msg.decode_text(msg.coded_text)}}</p>

            {% if images.get(msg) != none and images[msg][1] %}
            <img src="{{url_for('static', filename=images[msg][2])}}" alt="Failed to load this image">
            <a href="/load_file/{{images[msg][0].id}}" class="message-file-text"><span class="fa fa-download"></span>Load {{images[msg][0].name}}</a>
            {% elif images.get(msg) != none %}
            <img src="{{url_for('static', filename=images[msg][2])}}" alt="Failed to load this image">
            <p class="message-file-text"><span class="fa fa-file"></span>{{images[msg][0].name}}<br />(is loaded on path: {{images[msg][0].path}})</p>
            {% endif %}

            {% if files.get(msg) != none and files[msg][1] %}
            <a href="/load_file/{{files[msg][0].id}}" class="message-file-text"><span class="fa fa-download"></span>Load {{files[msg][0].name}}</a>
            {% elif files.get(msg) != none %}
            <p class="message-file-text"><span class="fa fa-file"></span>{{files[msg][0].name}}<br />(is loaded on path: {{files[msg][0].path}})</p>
            {% endif %}

            <p class="message-time">{{msg.send_time.strftime('%d/%m/%Y %H:%M')}}</p>
        </div>
        {% else %}
        <div class="card card-body message-our">
            <a href="/profile/{{other.id}}" class="message-username">{{current_user.username}}</a>
            <p class="message-text">{{msg.decode_text(msg.coded_text)}}</p>

            {% if images.get(msg) != none %}
            <img src="{{url_for('static', filename=images[msg][2])}}" alt="Failed to load this image">
            <p class="message-file-text"><span class="fa fa-file"></span>{{images[msg][0].name}}</p>
            {% endif %}

            {% if files.get(msg) != none %}
            <p class="message-file-text"><span class="fa fa-file"></span>{{files[msg][0].name}}</p>
            {% endif %}

            <p class="message-time">{{msg.send_time.strftime('%d/%m/%Y %H:%M')}}</p>

            {% if msg.is_read %}
            <p class="message-is-read" style="color: #5353d7;">Read</p>
            {% else %}
            <p class="message-is-read" style="color: #5c5c5c;">Sent</p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <script>
        var block = document.getElementById("chat");
        block.scrollTop = block.scrollHeight;
    </script>

    <div style="background-color: #e4e4e4; height: 150px">
        <input type="text" placeholder="Write your message..." name="message_text" class="chat-input" />
        <input class="button btn-primary" type="submit" value="Send" name="message_button" style="background-color: #5353d7" />
        <p>
            <div class="card card-body form-group">
                <label for="photo">You can attach a picture or an other file.</label>
                <input type="file" class="form-control-file" id="photo" name="file" value="Choose a photo">
            </div>
        </p>
    </div>

    <div>{{ message }}</div>
</form>
{% endblock %}
